# boardid.config

# Read the serial number from the firmware metadata block. The variable
# "nerves_serial_number" is the desired variable to use. "serial_number" is
# checked as a backup.
-b uboot_env -u nerves_serial_number
-b uboot_env -u serial_number

# U-Boot puts the Tegra chip UID in the device tree's serial-number property.
-b device_tree

# Use the MAC address of the first Ethernet port as a last resort.
-b macaddr
