# fw_printenv and fw_setenv configuration
#
# This is the Nerves firmware metadata block in the eMMC user area. U-Boot's
# own environment lives in mmcblk0boot1 and is NOT this block.
#
# See fwup_include/fwup-common.conf for offset and size

# Device name	Device offset	Env. size	Flash sector size	Number of sectors
/dev/mmcblk0	0x100000	0x20000		0x200			256
